<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Te lo llevo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Sen&family=Unica+One&display=swap');
        a{
            font-family: 'Sen', sans-serif;
            color: #fa7f72;
        }
        .conteiner {
            display: flex;
            flex-wrap: wrap;
        }
    
        .c1 {
            width: 20%;
            padding: 1%;
        }
        
        .c2 {
            width: 20%;
            padding: 1%;
            margin: 3%;
        }
    </style>
</head>
<body>
    <nav>
        <div class="conteiner">
            <div class="c1">
                <img src="te_lo_llevo-removebg-preview.png" alt="Logo" height="100px" width="auto">
            </div>
            <div class="c2">
                <u><a>Comprar</a></u>
            </div>
            <div class="c2">
                <label style="color: #389393">|</label>
            </div>
            <div class="c2">
                <u><a>Viajar</a></u>
            </div>  
        </div>
    </nav>
</body>
</html>