
@import url('https://fonts.googleapis.com/css2?family=Sen&family=Unica+One&display=swap');
@import "/application/views/search.svg";
/*ESTILOS DEL HEADER*/
a{
    font-family: 'Sen', sans-serif;
    color: #fa7f72;
}
.conteiner {
    display: flex;
    flex-wrap: wrap;
}

.c1 {
    width: 15%;
    margin: 0.5%;
    display: inline-block;
}

.c2 {
    width: 10%;
    padding: 1%;
    margin: 0.5%;

}

/*ESTILOS DEL FOOTER*/
.conteinerF {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.c1F {
    width: 20%;
    padding: 1%;
    margin: 1%;
}

.c2F {
    width: 20%;
    padding: 1%;
    margin: 1%;
}
i{
    height:50px; 
    width: auto;
    opacity: 50%;
}
